.startPane {
	-fx-background-image: url("images/start.jpg");
	-fx-background-size: cover;
}

.button {
	-fx-background-color: rgb(0,0,0,0.2);
	-fx-border-color: orange;
	-fx-border-radius: 15;
	-fx-background-radius: 16;
	-fx-border-width: 3;
}

.button:hover {
	
	-fx-background-color: rgb(0,0,0,0.55);

}

.button:pressed {
	
	-fx-background-color: rgb(80,80,80,0.5);

}